<<<<<<< HEAD
<style type="text/css">
  .password-logo {
    max-width: {{ settings.logo_width }}px;
  }
</style>

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="password-header">
    {%- if settings.logo != blank -%}
      {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
      {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
      {{
        settings.logo
        | image_url: width: 500
        | image_tag:
          class: 'password-logo',
          widths: '50, 100, 150, 200, 250, 300, 400, 500',
          width: settings.logo_width,
          height: logo_height,
          alt: logo_alt
      }}
    {%- else -%}
      <h1 class="h2">{{ shop.name }}</h1>
    {%- endif -%}

    {%- if shop.password_message != blank -%}
      <div class="password-content">
        {{ shop.password_message }}
      </div>
    {%- endif -%}

    <password-modal>
      <details class="password-modal modal">
        <summary class="modal__toggle" aria-haspopup="dialog">
          <div class="modal__toggle-open password-link link underlined-link">
            {% render 'icon-padlock' %}
            {{ 'general.password_page.login_password_button' | t }}
          </div>
          <div class="modal__toggle-close" aria-hidden="true">
            {% render 'icon-close' %}
          </div>
        </summary>
        <div
          class="modal__content"
          role="dialog"
          aria-labelledby="DialogHeading"
          aria-modal="true"
        >
          <div class="password-modal__content" tabindex="-1">
            <button type="button" class="modal__close-button link" aria-label="{{ 'accessibility.close' | t }}">
              {% render 'icon-close' %}
            </button>
            <h2 class="password-modal__content-heading" id="DialogHeading">
              {{ 'general.password_page.login_form_heading' | t }}
            </h2>
            {%- form 'storefront_password', class: 'password-form' -%}
              <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="field__input"
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                >
                <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">
                  {{- 'general.password_page.login_form_password_placeholder' | t -}}
                </label>
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">
                      {%- render 'icon-error' %}
                      {{ 'general.password_page.login_form_error' | t -}}
                    </span>
                  </div>
                {%- endif -%}
              </div>
              <button name="commit" class="password-button button button--outline">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            {%- endform -%}
            <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
          </div>
        </div>
      </details>
    </password-modal>
  </div>
</div>
{% assign scheme1 = settings.color_schemes | first %}
{%- if section.settings.color_scheme == scheme1 -%}<hr>{%- endif -%}
=======
<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --transparent-foreground: {{ section.settings.transparent_color_text.rgb }};
    --color-drawer-text: {{ section.settings.color_drawer_text.rgb }};
    --color-drawer-background: {{ section.settings.color_drawer_background.rgb }};
    --color-drawer-button-gradient: {% if section.settings.color_drawer_button_gradient != blank %}{{ section.settings.color_drawer_button_gradient }}{% else %}{{ section.settings.color_drawer_button_background }}{% endif %};
    --color-drawer-button-background: {{ section.settings.color_drawer_button_background.rgb }};
    --color-drawer-button-text: {{ section.settings.color_drawer_button_text.rgb }};
    --color-drawer-overlay: {{ section.settings.color_drawer_overlay.rgb }};
  }

  #shopify-section-{{ section.id }} .button.icon-with-text {
    --color-button-gradient: {% if section.settings.transparent_color_button_gradient != blank %}{{ section.settings.transparent_color_button_gradient }}{% else %}{{ section.settings.transparent_color_button_background }}{% endif %};
    --color-button-background: {{ section.settings.transparent_color_button_background.rgb }};
    --color-button-border: {{ section.settings.transparent_color_button_text.rgb }};
    --color-button-text: {{ section.settings.transparent_color_button_text.rgb }};
  }
</style>

<header class="password-header section section--padding" is="password-header">
  <div class="page-width relative">
    <div class="flex justify-between">
      <div class="grid gap-4 grow">
        {%- render 'header-logo' -%}

        {%- if shop.password_message != blank -%}
          <div class="password-content">
            {{ shop.password_message }}
          </div>
        {%- endif -%}
      </div>
      <div class="grow-0">
        <button type="button" class="button button--primary icon-with-text" is="hover-button" aria-controls="PasswordDrawer" aria-expanded="false">
          <span class="btn-fill" data-fill></span>
          <span class="btn-text">
            {%- liquid
              render 'icon', icon: 'lock', size: 'sm hidden md:block'
              echo 'general.password_page.login_password_button' | t
            -%}
          </span>
        </button>
        <password-modal id="PasswordDrawer" class="password-modal x-modal drawer z-30 fixed bottom-0 left-0 h-full w-full pointer-events-none"
          role="dialog"
          aria-modal="true"
          aria-label="{{ 'general.password_page.login_password_button' | t | escape }}"
        >
          <overlay-element class="overlay fixed-modal invisible opacity-0 fixed bottom-0 left-0 w-full h-screen pointer-events-none" aria-controls="PasswordDrawer" aria-expanded="false"></overlay-element>
          <div class="drawer__inner z-10 absolute top-0 flex flex-col w-full h-full overflow-hidden">
            <gesture-element class="drawer__header flex justify-between opacity-0 invisible relative" tabindex="0">
              <span class="drawer__title heading lg:text-3xl text-2xl leading-none tracking-tight hidden">{{ 'general.password_page.login_password_button' | t }}</span>
              <button class="button button--secondary button--close drawer__close hidden sm:flex items-center justify-center" type="button" is="hover-button" aria-controls="PasswordDrawer" aria-expanded="false" aria-label="{{ 'general.accessibility.close' | t | escape }}">
                <span class="btn-fill" data-fill></span>
                <span class="btn-text">
                  {%- render 'icon', icon: 'close', size: 'sm' -%}
                </span>
              </button>
            </gesture-element>
            <div class="drawer__content opacity-0 invisible flex flex-col h-full grow shrink">
              <div class="drawer__scrollable relative flex flex-col grow shrink gap-4 md:gap-12">
                <div class="grid gap-8">
                  <p class="heading text-lg md:text-2xl leading-none tracking-tight">{{ 'general.password_page.login_form_heading' | t }}</p>
                  {%- form 'storefront_password', class: 'password-form grid gap-5 w-full' -%}
                    <div class="field relative">
                      <input
                        type="password"
                        name="password"
                        id="Password"
                        class="input is-floating input--fill"
                        autocomplete="current-password"
                        placeholder="{{ 'general.password_page.login_form_password' | t }}"
                        {%- if form.errors %}
                          aria-invalid="true"
                          aria-describedby="PasswordError"
                        {% endif -%}
                      />
                      <label class="label is-floating" for="Password">{{ 'general.password_page.login_form_password' | t }}</label>
                      <div class="self-submit-button absolute">
                        <button name="commit" type="submit" class="button button--primary self-button flex justify-center items-center" is="magnet-button" data-magnet="20" aria-label="{{ 'general.password_page.login_form_submit' | t | escape }}">
                          <span class="btn-text">
                            <svg class="icon icon-arrow-right icon-xs transform" viewBox="0 0 16 16" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M2 8.00012H14M14 8.00012L9.33333 3.3335M14 8.00012L9.33333 12.6668"></path>
                            </svg>
                          </span>
                        </button>
                      </div>
                    </div>
                    {%- if form.errors -%}
                      <div id="PasswordError" role="status">
                        <span class="sr-only">{{ 'general.accessibility.error' | t }}</span>
                        {%- liquid
                          assign form_errors = 'general.password_page.login_form_error' | t
                          render 'alert', status: 'error', content: form_errors
                        -%}
                      </div>
                    {%- endif -%}
                  {%- endform -%}
                </div>
                <div class="text-sm">{{ 'general.password_page.admin_link_html' | t }}</div>
              </div>
            </div>
          </div>
        </password-modal>
      </div>
    </div>
  </div>
</header>
>>>>>>> bdc1b2b (theme save push)

{% schema %}
{
  "name": "t:sections.main-password-header.name",
<<<<<<< HEAD
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-password-header.settings.logo_header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-password-header.settings.logo_help.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
=======
  "class": "password-header-section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.paragraph__logo_help.content"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__transparent.content",
      "info": "t:sections.header.settings.header__transparent.info"
    },
    {
      "type": "color",
      "id": "transparent_color_text",
      "label": "t:sections.header.settings.transparent_color_text.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "transparent_color_button_text",
      "label": "t:sections.global.settings.color_button_text.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "transparent_color_button_background",
      "label": "t:sections.global.settings.color_button_background.label",
      "default": "#171717"
    },
    {
      "type": "color_background",
      "id": "transparent_color_button_gradient",
      "label": "t:settings_schema.colors.settings.color_button_gradient.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-password-header.settings.header__popup.content"
    },
    {
      "type": "color",
      "id": "color_drawer_text",
      "label": "t:settings_schema.colors.settings.color_drawer_text.label",
      "default": "#171717"
    },
    {
      "type": "color",
      "id": "color_drawer_background",
      "label": "t:settings_schema.colors.settings.color_drawer_background.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_drawer_button_text",
      "label": "t:settings_schema.colors.settings.color_drawer_button_text.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_drawer_button_background",
      "label": "t:settings_schema.colors.settings.color_drawer_button_background.label",
      "default": "#171717"
    },
    {
      "type": "color_background",
      "id": "color_drawer_button_gradient",
      "label": "t:settings_schema.colors.settings.color_drawer_button_gradient.label"
    },
    {
      "type": "color",
      "id": "color_drawer_overlay",
      "label": "t:settings_schema.colors.settings.color_drawer_overlay.label",
      "default": "#171717"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 36
>>>>>>> bdc1b2b (theme save push)
    }
  ]
}
{% endschema %}
