<<<<<<< HEAD
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'quick-order-list.css' | asset_url | stylesheet_tag }}
{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}

<script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% comment %} TODO: enable theme-check once `line_items_for` is accepted as valid filter {% endcomment %}
{% # theme-check-disable %}
{%- assign items_in_cart = cart | line_items_for: product | sum: 'quantity' -%}
{% # theme-check-enable %}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <quick-order-list
    class="page-width section-{{ section.id }}-padding"
    id="quick-order-list"
    data-id="{{ section.id }}"
  >
    <form
      action="{{ routes.cart_update_url }}"
      class="quick-order-list__contents critical-hidden"
      method="post"
      id="QuickOrderList"
    >
      <div class="quick-order-list__container" id="main-variant-items">
        <div class="js-contents">
          <table class="quick-order-list__table">
            <caption class="visually-hidden">
              {{ 'sections.cart.title' | t }}
            </caption>
            <thead>
              <tr>
                <th class="caption-with-letter-spacing" scope="col">
                  {%- if product.has_only_default_variant -%}
                    {{ 'sections.quick_order_list.product' | t }}
                  {%- else -%}
                    {{ 'sections.quick_order_list.variant' | t }}
                  {%- endif -%}
                </th>
                <th class="large-up-hide right caption-with-letter-spacing" scope="col">
                  {%- if product.has_only_default_variant -%}
                    {{ 'sections.quick_order_list.product_total' | t }}
                  {%- else -%}
                    {{ 'sections.quick_order_list.variant_total' | t }}
                  {%- endif -%}
                </th>
                <th
                  class="quick-order-list__table-heading--wide small-hide medium-hide caption-with-letter-spacing"
                  scope="col"
                >
                  {{ 'products.product.quantity.label' | t }}
                </th>
                <th
                  class="quick-order-list__table-heading--wide small-hide medium-hide caption-with-letter-spacing"
                  scope="col"
                >
                  {{ 'sections.cart.headings.price' | t }}
                </th>
                <th class="small-hide medium-hide right caption-with-letter-spacing" scope="col">
                  {%- if product.has_only_default_variant -%}
                    {{ 'sections.quick_order_list.product_total' | t }}
                  {%- else -%}
                    {{ 'sections.quick_order_list.variant_total' | t }}
                  {%- endif -%}
=======
<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%}
  }
</style>

{{ 'quick-order-list.css' | asset_url | stylesheet_tag }}
<script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign has_sidebar = false
  if section.settings.layout == 'sidebar'
    assign has_sidebar = true
  endif

  if product.has_only_default_variant or product.variants.size == 1
    assign has_sidebar = false
  endif
-%}

<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}">
  <div class="page-width{% if section.settings.full_width %} page-width--full{% endif %} relative">
    {%- render 'section-heading', section: section -%}

    <quick-order-list-container class="quick-order-list-container block" id="MainCart-{{ section.id }}" data-section-id="{{ section.id }}">
      {%- assign items_in_cart = cart | line_items_for: product | sum: 'quantity' -%}
      <form
        action="{{ routes.cart_update_url }}"
        class="quick-order-list{% if has_sidebar %} with-sidebar lg:flex lg:gap-12{% endif %}"
        method="post"
        id="QuickOrderList-{{ section.id }}-{{ product.id }}"
        is="quick-order-list"
        data-section-id="{{ section.id }}"
        data-product-id="{{ product.id }}"
        data-product-url="{{ product.url }}"
      >
        <div class="quick-order-list__container{% if has_sidebar %} lg:grow{% endif %}">
          <table class="quick-order-list__table w-full">
            <caption class="sr-only">{{ 'cart.general.title' | t }}</caption>
            <thead>
              <tr>
                <th scope="col">
                  {%- liquid
                    if product.has_only_default_variant
                      echo 'sections.quick_order_list.product' | t
                    else
                      echo 'sections.quick_order_list.variant' | t
                    endif
                  -%}
                </th>
                <th class="hidden md:table-cell" scope="col">
                  {{- 'products.quantity.label' | t -}}
                </th>
                <th class="hidden lg:table-cell text-right" scope="col">
                  {{- 'cart.headings.price' | t -}}
                </th>
                <th class="text-right" scope="col">
                  {%- liquid
                    if product.has_only_default_variant
                      echo 'sections.quick_order_list.product_total' | t
                    else
                      echo 'sections.quick_order_list.variant_total' | t
                    endif
                  -%}
>>>>>>> bdc1b2b (theme save push)
                </th>
              </tr>
            </thead>

            <tbody>
              {%- if product.has_only_default_variant -%}
                {%- render 'quick-order-list-row',
<<<<<<< HEAD
                  item: product,
                  image: product.featured_media,
                  sku: product.selected_or_first_available_variant.sku,
                  variant: product.selected_or_first_available_variant
=======
                  section_id: section.id,
                  product_id: product.id,
                  item: product,
                  image: product.featured_media,
                  sku: product.selected_or_first_available_variant.sku,
                  variant: product.selected_or_first_available_variant,
                  show_image: section.settings.show_image,
                  show_sku: section.settings.show_sku
>>>>>>> bdc1b2b (theme save push)
                -%}
              {%- else -%}
                {%- for variant in product.variants -%}
                  {%- render 'quick-order-list-row',
<<<<<<< HEAD
                    item: variant,
                    image: variant.image,
                    sku: variant.sku,
                    variant: variant
=======
                    section_id: section.id,
                    product_id: product.id,
                    item: variant,
                    image: variant.image,
                    sku: variant.sku,
                    variant: variant,
                    show_image: section.settings.show_image,
                    show_sku: section.settings.show_sku
>>>>>>> bdc1b2b (theme save push)
                  -%}
                {%- endfor -%}
              {%- endif -%}
            </tbody>
          </table>
        </div>
<<<<<<< HEAD
        <noscript>
          {%- if product.has_only_default_variant or product.variants.size == 1 -%}
            <button type="submit" class="button button--secondary right" formnovalidate form="QuickOrderList">
              {{ 'sections.cart.update' | t }}
            </button>
          {%- endif -%}
        </noscript>
      </div>

      <p class="visually-hidden" id="quick-order-list-live-region-text" aria-live="polite" role="status"></p>
      <p
        class="visually-hidden"
        id="shopping-cart-variant-item-status"
        aria-live="polite"
        aria-hidden="true"
        role="status"
      >
        {{ 'accessibility.loading' | t }}
      </p>
    </form>

    {%- if product.has_only_default_variant or product.variants.size == 1 -%}
      <span class="quick-order-list-error">
        {% comment %} Populated by JS {% endcomment %}
      </span>
    {%- else -%}
      <div class="quick-order-list__total gradient" id="quick-order-list-total">
        <div class="quick-order-list-total__info">
          <div class="quick-order-list-total__column small-hide medium-hide">
            <div class="quick-order-list-buttons">
              <a
                href="{{ routes.cart_url }} "
                class="quick-order-list__button button button--secondary small-hide  medium-hide"
              >
                <span class="quick-order-list__button-text">{{- 'sections.quick_order_list.view_cart' | t -}}</span>
              </a>
              <div class="variant-remove-total">
                {%- render 'loading-overlay' -%}
                <quick-order-list-remove-all-button
                  class="no-js-hidden"
                  data-action="confirm"
                >
                  <button class="button button--tertiary" type="button">
                    {% render 'icon-remove' %}
                    <span class="text-body">{{ 'sections.quick_order_list.remove_all' | t }}</span>
                  </button>
                </quick-order-list-remove-all-button>
              </div>
            </div>
            <span class="quick-order-list__message caption-large" role="status">
              <span class="quick-order-list__message-icon hidden">{%- render 'icon-checkmark' -%}</span>
              <span class="quick-order-list__message-text"></span>
            </span>
            <span class="quick-order-list-error">
              {% comment %} Populated by JS {% endcomment %}
            </span>
          </div>
          <div class="quick-order-list__total-items">
            <h3>
              {{ items_in_cart }}
            </h3>
            <p class="h5">{{ 'sections.quick_order_list.total_items' | t }}</p>
          </div>
          <div class="quick-order-list-total__price">
            <noscript>
              <button type="submit" class="button button--secondary" formnovalidate form="QuickOrderList">
                {{ 'sections.cart.update' | t }}
              </button>
            </noscript>
            <div class="totals__product-total">
              <h3 class="totals__subtotal-value">
                {% comment %} TODO: enable theme-check once `line_items_for` is accepted as valid filter {% endcomment %}
                {% # theme-check-disable %}
                {{ cart | line_items_for: product | sum: 'original_line_price' | money }}
                {% # theme-check-enable %}
              </h3>
              <p class="totals__subtotal h5">{{ 'sections.quick_order_list.product_total' | t }}</p>
            </div>
            <small class="tax-note caption-large rte">
              {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif cart.taxes_included -%}
                {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            </small>
          </div>
          <div class="quick-order-list-total__column large-up-hide">
            <div class="quick-order-list-buttons">
              <a
                href="{{ routes.cart_url }}"
                class="quick-order-list__button button button--secondary button--full-width"
              >
                <span class="quick-order-list__button-text">{{- 'sections.quick_order_list.view_cart' | t -}}</span>
              </a>
              <div class="variant-remove-total">
                {%- render 'loading-overlay' -%}
                <quick-order-list-remove-all-button
                  class="no-js-hidden"
                  data-action="confirm"
                >
                  <button class="button button--tertiary" type="button">
                    {% render 'icon-remove' %}

                    <span class="text-body">{{ 'sections.quick_order_list.remove_all' | t }}</span>
                  </button>
                </quick-order-list-remove-all-button>
              </div>
            </div>
            <span class="quick-order-list__message caption-large" role="status">
              <span class="quick-order-list__message-icon hidden">{%- render 'icon-checkmark' -%}</span>
              <span class="quick-order-list__message-text"></span>
            </span>
            <span class="quick-order-list-error">
              {% comment %} Populated by JS {% endcomment %}
            </span>
          </div>
        </div>
        <div class="quick-order-list-total__confirmation hidden">
          <span class="text-body">
            {{ 'sections.quick_order_list.remove_all_items_confirmation' | t: quantity: items_in_cart }}
          </span>
          <quick-order-list-remove-all-button
            data-action="remove"
          >
            <button
              class="quick-order-list__button-confirm button button--secondary"
              type="button"
            >
              {{- 'sections.quick_order_list.remove_all' | t -}}
            </button>
          </quick-order-list-remove-all-button>
          <quick-order-list-remove-all-button
            data-action="cancel"
          >
            <button
              class="quick-order-list__button-cancel button button--tertiary"
              type="button"
            >
              {{- 'sections.quick_order_list.cancel' | t -}}
            </button>
          </quick-order-list-remove-all-button>
        </div>
      </div>
    {%- endif -%}
  </quick-order-list>
  <template id="QuickOrderListErrorTemplate-{{ section.id }}">
    <svg
      aria-hidden="true"
      focusable="false"
      class="icon icon-error"
      viewBox="0 0 13 13"
    >
      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
    </svg>
    <span class="quick-order-list-error-message caption-large" role="alert"></span>
  </template>
=======
        {%- if product.has_only_default_variant or product.variants.size == 1 -%}
          <div class="sticky left-0 bottom-0 w-full pointer-events-none">
            <div class="quick-order-list__error text-center lg:text-left pointer-events-auto" hidden>
              <div class="quick-order-list-error__message alert alert--error inline-flex items-start gap-3 text-sm md:text-base leading-tight"></div>
            </div>
          </div>
        {%- else -%}
          {%- capture quick_order_list_total -%}
            <div class="quick-order-list__total flex items-center justify-center pointer-events-auto">
              <div class="quick-order-list-total__info flex flex-col gap-5 grow">
                <div class="quick-order-list-total__column flex flex-col lg:grid lg:grid-cols-2 gap-5">
                  <div class="quick-order-list-total__left flex flex-col gap-3">
                    <p class="heading text-xl-3xl tracking-tighter leading-tight hidden lg:block">{{ product.title | escape }}</p>
                    <div class="flex flex-wrap justify-center lg:justify-start gap-4">
                      <span>{{ 'sections.quick_order_list.total_items' | t: count: items_in_cart }}</span>
                      <div class="variant-remove-total inline-flex items-center justify-start relative">
                        <div id="Loader-{{ section.id }}-all" class="loader absolute" hidden>
                          {%- render 'icon', icon: 'rotator', size: 'xs', class: 'animate-rotator' -%}
                        </div>
                        <quick-order-list-remove-all-button data-action="confirm"{% if items_in_cart == 0 %} hidden{% endif %}>
                          <button class="reversed-link icon-with-text no-js-hidden" type="button">
                            {%- render 'icon', icon: 'trash', size: 'xs' -%}
                            <span class="link-text">{{ 'sections.quick_order_list.remove_all' | t }}</span>
                          </button>
                        </quick-order-list-remove-all-button>
                      </div>
                    </div>
                  </div>
                  <div class="quick-order-list-total__right flex flex-col gap-4">
                    <div class="flex flex-col lg:flex-row lg:justify-end gap-4 lg:gap-7d5">
                      <div class="totals flex flex-col items-center lg:items-end gap-3">
                        <p class="totals__subtotal font-medium text-base-xl leading-none">{{ 'sections.quick_order_list.product_total' | t }}</p>
                        <span class="totals__subtotal-value font-bold text-2xl leading-none">
                          {{- cart | line_items_for: product | sum: 'original_line_price' | money -}}
                        </span>
                      </div>
                      <div class="flex flex-col items-center gap-2d5">
                        <a href="{{ routes.cart_url }}" class="button button--primary button--fixed w-full" is="hover-link">
                          <span class="btn-fill" data-fill></span>
                          <span class="btn-text">{{ 'sections.quick_order_list.view_cart' | t }}</span>
                        </a>
                        <div class="tax-note text-opacity text-2sm rte">
                          {%- liquid
                            if cart.taxes_included and shop.shipping_policy.body != blank
                              echo 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url
                            elsif cart.taxes_included
                              echo 'cart.general.taxes_included_but_shipping_at_checkout' | t
                            elsif shop.shipping_policy.body != blank
                              echo 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url
                            else
                              echo 'cart.general.taxes_and_shipping_at_checkout' | t
                            endif
                          -%}
                        </div>
                      </div>
                    </div>
                    <div class="quick-order-list__error text-center lg:text-right" hidden>
                      <div class="quick-order-list-error__message alert alert--error inline-flex items-start gap-3 text-sm md:text-base leading-tight"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="quick-order-list-total__confirmation absolute flex flex-col lg:flex-row flex-wrap items-center justify-center gap-4" hidden>
                <span class="text-base">
                  {{- 'sections.quick_order_list.remove_all_items_confirmation' | t: quantity: items_in_cart -}}
                </span>
                <quick-order-list-remove-all-button class="block" data-action="remove">
                  <button class="button button--secondary" type="button" is="hover-button">
                    <span class="btn-fill" data-fill></span>
                    <span class="btn-text">{{ 'sections.quick_order_list.remove_all' | t }}</span>
                  </button>
                </quick-order-list-remove-all-button>
                <quick-order-list-remove-all-button class="block" data-action="cancel">
                  <button class="link" type="button">{{ 'sections.quick_order_list.cancel' | t }}</button>
                </quick-order-list-remove-all-button>
              </div>
            </div>
          {%- endcapture -%}
          {%- if has_sidebar -%}
            <div class="lg:grow-0 pointer-events-none">
              <sticky-element class="quick-order-list__sidebar block lg:sticky top-0">
                {{- quick_order_list_total -}}
              </sticky-element>
            </div>
          {%- else -%}
            <div class="sticky left-0 bottom-0 w-full pointer-events-none">
              {{- quick_order_list_total -}}
            </div>
          {%- endif -%}
        {%- endif -%}
      </form>
    </quick-order-list-container>
  </div>
>>>>>>> bdc1b2b (theme save push)
</div>

{% schema %}
{
  "name": "t:sections.quick-order-list.name",
  "limit": 1,
<<<<<<< HEAD
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_image",
      "default": false,
=======
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.quick-order-list.settings.layout.options__1.label"
        },
        {
          "value": "sidebar",
          "label": "t:sections.quick-order-list.settings.layout.options__2.label"
        }
      ],
      "default": "sidebar",
      "label": "t:sections.quick-order-list.settings.layout.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
>>>>>>> bdc1b2b (theme save push)
      "label": "t:sections.quick-order-list.settings.show_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_sku",
<<<<<<< HEAD
      "default": false,
      "label": "t:sections.quick-order-list.settings.show_sku.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
=======
      "default": true,
      "label": "t:sections.quick-order-list.settings.show_sku.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__heading.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.global.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "title-sm",
          "label": "t:sections.global.settings.heading_size.options__1.label"
        },
        {
          "value": "title-md",
          "label": "t:sections.global.settings.heading_size.options__2.label"
        },
        {
          "value": "title-lg tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__3.label"
        },
        {
          "value": "title-xl tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__4.label"
        }
      ],
      "default": "title-md",
      "label": "t:sections.global.settings.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.global.settings.heading_alignment.label",
      "options": [
        {
          "value": "text-left md:items-end md:flex-row",
          "label": "t:sections.global.settings.heading_alignment.options__1.label"
        },
        {
          "value": "text-center md:items-center",
          "label": "t:sections.global.settings.heading_alignment.options__2.label"
        },
        {
          "value": "text-right md:items-end md:flex-row-reverse",
          "label": "t:sections.global.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "text-left md:items-end md:flex-row"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.global.settings.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.global.settings.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.global.settings.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.global.settings.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.global.settings.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.global.settings.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.global.settings.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.global.settings.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.global.settings.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.global.settings.heading_tag.label",
      "info": "t:sections.global.settings.heading_tag.info"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.settings.subheading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.global.settings.description.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.global.settings.button_label.label",
      "info": "t:sections.global.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.global.settings.button_link.label"
    },
    {
      "visible_if": "{{ section.settings.button_label != blank }}",
      "type": "checkbox",
      "id": "button_external",
      "label": "t:sections.global.settings.button_external.label",
      "default": false
    },
    {
      "visible_if": "{{ section.settings.button_label != blank }}",
      "type": "checkbox",
      "id": "button_icon",
      "label": "t:sections.global.settings.button_icon.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__highlight.content",
      "info": "t:sections.global.settings.header__highlight.info"
    },
    {
      "type": "select",
      "id": "highlighted_text",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.settings.highlighted_text.options__1.label"
        },
        {
          "value": "text",
          "label": "t:sections.global.settings.highlighted_text.options__2.label"
        },
        {
          "value": "full_text",
          "label": "t:sections.global.settings.highlighted_text.options__3.label"
        },
        {
          "value": "half_text",
          "label": "t:sections.global.settings.highlighted_text.options__4.label"
        },
        {
          "value": "underline",
          "label": "t:sections.global.settings.highlighted_text.options__5.label"
        },
        {
          "value": "stencil",
          "label": "t:sections.global.settings.highlighted_text.options__6.label"
        },
        {
          "value": "scribble",
          "label": "t:sections.global.settings.highlighted_text.options__7.label"
        }
      ],
      "default": "none",
      "label": "t:sections.global.settings.highlighted_text.label"
    },
    {
      "visible_if": "{{ section.settings.highlighted_text == 'scribble' }}",
      "type": "select",
      "id": "highlighted_scribble",
      "options": [
        {
          "value": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
        },
        {
          "value": "basic-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
        },
        {
          "value": "sketch-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
        },
        {
          "value": "squiggle-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
        },
        {
          "value": "squiggle-underline-2",
          "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
        }
      ],
      "default": "circle",
      "label": "t:sections.global.settings.highlighted_scribble.label",
      "info": "t:sections.global.settings.highlighted_scribble.info"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.global.settings.gradient_background.label"
    },
    {
      "type": "color",
      "id": "color_highlight",
      "label": "t:sections.global.settings.color_highlight.label"
    },
    {
      "type": "color_background",
      "id": "gradient_highlight",
      "label": "t:sections.global.settings.gradient_highlight.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
>>>>>>> bdc1b2b (theme save push)
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
<<<<<<< HEAD
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
=======
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
>>>>>>> bdc1b2b (theme save push)
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
<<<<<<< HEAD
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
=======
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
>>>>>>> bdc1b2b (theme save push)
    }
  ],
  "presets": [
    {
<<<<<<< HEAD
      "name": "t:sections.quick-order-list.presets.name"
    }
  ]
=======
      "name": "t:sections.quick-order-list.name",
      "category": "t:categories.products"
    }
  ],
  "enabled_on": {
    "templates": [
      "product"
    ]
  }
>>>>>>> bdc1b2b (theme save push)
}
{% endschema %}
